.payment-cart{
    color: white;
    width:400px;
    text-align: center;
 }
 .payment-btn{
     height: 30px;
     width: 90px;
     background-color: rgb(107, 104, 104);
     color: white;
     border-radius: 10px;
     font-size: 12px;
     border: none;
  
 }
 .payment-btn:hover{
     background-color: rgb(170, 165, 165);
   
 }