.header img{
    height: 150px;
    text-align: center;
}
.header{
    text-align: center;
}
.header p{
    color: rgb(49, 23, 82);
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.nav-bar {
    background-color: rgb(100, 2, 2);
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.nav-bar a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 25px;
    padding: 5px;
}
.nav-bar a:hover{
    background-color: gray;
    
}