.user-container{
    display: flex;
 }
 .employee-container{
     width: 70%;
     border-right: 1px solid gray;
   
 }
 .paymentCart{
     background-color: rgb(245, 125, 12);
     margin-left: 15px;
     border-radius: 10px;
 }